@font-face {
    font-family: "GraublauWeb";
    src: url(/fonts/GraublauWeb.otf) format("truetype");
}
@font-face {
    font-family: "GraublauWeb";
    font-weight: bold;
    src: url(/fonts/GraublauWebBold.otf) format("truetype");
}

header, section, nav { display:block; }

.left {
  float: left;
}

.right {
  float: right;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	/*border-bottom: 2px solid #000;*/
}

header {
	margin: 0;
	padding: 5px;
	position: absolute;
	top: 5px;
	left: 0px;
	right: 0px;
}

header section#title {
	float: left;
	margin-top: 5px;
}

header section#title p {
	margin: 0;
	padding: 0;
	margin-left: 10px;
	font-family: GraublauWeb, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height:1.4;	
}

header section#search {
	float: right;
	padding: 12px;
	margin-right: 0px;
}

html {
  overflow-x: hidden;
}

html,body {
	margin:0px;
	padding:0px;
	color: #555;
	
	font-family: GraublauWeb, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	background: #eaefe0;
}



xs {
	color: #a68d49;
}

body {
	padding:5px;
}

header h1 {
	font-family: GraublauWeb, "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 200px;
	color: black;
	font-weight: bold;
	margin: 0px;	
	font-size:30px;
	padding: 0px;
	margin-left: 10px;
}

h2 {
  font-size: 19px;
  color: #000;
  border-bottom: 1px solid #000;
}

h3 {
  font-size: 15px;
  color: #000;
  border-bottom: 1px solid #000;
}

section#content {
  display: none;
  position: absolute;
  top: 200px;
  bottom: 200px;
  left: 0px;
  right: 0px;
	margin-top: 5px;
	margin: auto;
	width: 400px;
}

aside {
  font-size: 12px;
  position: absolute;
  right: 17px;
  top: 80px;
  bottom: 50px;
  width: 290px;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #c1c1c1;
  line-height: 1.5em;
  background: #fff;
	opacity: 0.9;
	overflow: auto;
}

p.summary img {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

ul.links {
  list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

ul.links li {
  margin: 0;
  margin-bottom: 3px;
}

ul.links li:hover {
  margin-bottom: 2px;
  border-bottom: 1px solid #000;
}

ul.links li a {
  width: auto;
}

section#infovis {
  display: none;
	height:550px;
	overflow: hidden;
	background-color:#F4F4F4;
}

.hidden {  
  display:none;  
}

#browser_not_supported {
	font-family: GraublauWeb, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: auto;
	line-height: 2em;
	font-size: 15px;
	display: none;
}

/* Clearing */
.clearfix:after, #frame:after, .navigation:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix, #frame, .navigation {display: inline-block;}
* html .clearfix, * html #frame, * html .navigation {height: 1%;}
.clearfix, #frame, .navigation {display: block;}
.clear {clear: both;}


/*
-----------------------------------------
 Search Box
-----------------------------------------
*/

#neo-suggest {
    border: 1px solid #c1c1c1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    opacity: 0.9;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
		font-family: GraublauWeb, "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-align: right;
		font-size: 13px;
		color: #555;
}

#search .ghost-input {
    color: #99a;
}

#search .focused {
    color: #878699;
    font-style: normal;
}

.neo-reset a {
	text-decoration: none;
	border: 0;
}

.neo-reset a:hover {
	text-decoration: none;
	border: 0;
}


